
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/condorito-1.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Condorito</h5>
        <p class="ae-u-bolder au-mb-3">Diseñador Grafico</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Experto en Humor.</p><a href="#0" class="ae-u-bolder au-underline">condorito&#64;mercydev.cl</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/señora-1.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Señora</h5>
        <p class="ae-u-bolder au-mb-3">Señore</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Ayuda.</p><a href="#0" class="ae-u-bolder au-underline">señora&#64;mercydev.cl</a>
      </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/tipo-1.png" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">El</h5>
        <p class="ae-u-bolder au-mb-3">El</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">No ayuda mucho.</p><a href="#0" class="ae-u-bolder au-underline">sujeto&#64;mercydev.cl</a>
      </div>
    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Equipo Profesional</h4>
        <p>Contamos con lo mejor de lo mejor en terminos de venta de productos, con años de experiencia en nuestras filas para lograr la satisfacción del cliente.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Sobre Nosotros</h6>
        <p class="au-lh-3">Somos los mejores y el resto no lo es. </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestra Mision</h6>
        <p class="au-lh-3">Dar la mejor experiencia al momento de vender nuestros productos. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestros Clientes</h6>
        <p class="au-lh-3">Lo primero son nuestros clientes, que van desde hospitales a servicios de aseo, tambien estamos en el ambito educativo para lograr un mejor acercamiento con la educación. </p>
        <p class="au-lh-3">Tambien tenemos presencia en empresas en linea.</p>
      </div>
      
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>

 <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-4">

    <h4> Envianos tus dudas </h4>  
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Dirección de Correo Electronico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@ejemplo.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Dia Preferido de Contacto</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Lunes</option>
      <option>Martes</option>
      <option>Miercoles</option>
      <option>Jueves</option>
      <option>Viernes</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Dudas</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

</div>
</div>