
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-grid__item item-lg-0 item-lg--offset-1"><img src="assets/img/portada-1.jpg" alt="Urku Portfolio"></div>
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/torre-1.png" alt="">
        <div class="item-meta">
            <h2>Torres</h2>
            <p>Armado/Reparaciones</p>
          </div>
        </a>
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/pantalla-1.png" alt="">
          <div class="item-meta">
            <h2>Pantalla</h2>
            <p>Reparaciones</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/laptop-1.png" alt="">
          <div class="item-meta">
            <h2>Notebooks</h2>
            <p>Limpieza/Reparaciones</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/placa-1.png" alt="">
          <div class="item-meta">
            <h2>Hardware</h2>
            <p>Venta/Arreglos</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/celular-1.png" alt="">
          <div class="item-meta">
            <h2>Telefonos</h2>
            <p>Reparaciones</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/archivos-1.png" alt="">
          <div class="item-meta">
            <h2>PManejo de Archivos</h2>
            <p>Recuperacion/Copia de Seguridad</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/equiposonido-1.png" alt="">
          <div class="item-meta">
            <h2>Equipos de Sonido</h2>
            <p>Reparaciones</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/redimpresora-1.png" alt="">
          <div class="item-meta">
            <h2>Redes e Impresoras</h2>
            <p>Reparaciones/Conexiones a redes</p>
          
        </div></a>
    </div>
</section>
